POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_BIND_PORT=5477
POSTGRES_DB=app
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

APP_PORT=8000
APP_BIND_PORT=8000

CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/0

# Options: default, dev, ci, debug
HYPOTHESIS_PROFILE=default
